n8n-workflows/06-forge-download-milestones.json
{
  "name": "🎉 24HG Forge Download Milestones → Discord",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 30 }] }
      },
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "https://os.24hgaming.com/api/announcements",
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "name": "Check Downloads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "// We abuse the public announcements endpoint just to see if the API is alive,\n// then call the pageview endpoint to get a rough count.\n// Since we can't auth from n8n easily, we track milestones via static data.\n\nconst staticData = this.getWorkflowStaticData('global');\nconst lastMilestone = staticData.lastMilestone || 0;\n\n// For now, this workflow is a template.\n// To make it work: add an authenticated call to /api/stats\n// or create a public /api/stats/public endpoint.\n\n// Milestone thresholds\nconst milestones = [10, 25, 50, 100, 250, 500, 1000, 2500, 5000, 10000];\n\n// Placeholder — replace with actual download count\nconst downloadCount = 0;\n\nconst nextMilestone = milestones.find(m => m > lastMilestone && downloadCount >= m);\n\nif (nextMilestone) {\n  staticData.lastMilestone = nextMilestone;\n  return [{ json: { milestone: nextMilestone, downloads: downloadCount, shouldPost: true } }];\n}\n\nreturn [{ json: { shouldPost: false, downloads: downloadCount, lastMilestone } }];"
      },
      "name": "Check Milestones",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "1", "leftValue": "={{ $json.shouldPost }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }],
          "combinator": "and"
        }
      },
      "name": "Hit Milestone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.DISCORD_WEBHOOK_DAILY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"embeds\": [{\n    \"title\": \"🎉 24HG Forge Download Milestone!\",\n    \"description\": \"24HG Forge has reached **{{ $json.milestone }}** downloads!\",\n    \"color\": 16766720,\n    \"footer\": { \"text\": \"os.24hgaming.com\" },\n    \"timestamp\": \"{{ new Date().toISOString() }}\"\n  }]\n}",
        "options": {}
      },
      "name": "Discord Celebrate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, -100]
    }
  ],
  "connections": {
    "Every 30 Minutes": { "main": [[{ "node": "Check Downloads", "type": "main", "index": 0 }]] },
    "Check Downloads": { "main": [[{ "node": "Check Milestones", "type": "main", "index": 0 }]] },
    "Check Milestones": { "main": [[{ "node": "Hit Milestone?", "type": "main", "index": 0 }]] },
    "Hit Milestone?": { "main": [
      [{ "node": "Discord Celebrate", "type": "main", "index": 0 }],
      []
    ]}
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "24HG Forge" }]
}
