n8n-workflows/08-ssl-expiry-checker.json
{
  "name": "🔒 SSL Certificate Expiry Checker",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * 1" }] }
      },
      "name": "Weekly Monday 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const domains = [\n  'hub.24hgaming.com',\n  'api.24hgaming.com',\n  'os.24hgaming.com',\n  'sys.24hgaming.com',\n  'chat.24hgaming.com',\n  'desktop.24hgaming.com',\n  'm.24hgaming.com',\n  'mail.24hgaming.com',\n  'n8n.24hgaming.com',\n  'uptime.24hgaming.com',\n  'books.24hgaming.com',\n  'space.24hgaming.com',\n  'bot.24hgaming.com',\n  'livekit.24hgaming.com',\n  'fastdl.24hgaming.com',\n  'panel.novastack.org',\n];\n\nreturn domains.map(d => ({ json: { domain: d } }));"
      },
      "name": "Domain List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": { "options": {} },
      "name": "Loop Domains",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [440, 0]
    },
    {
      "parameters": {
        "url": "=https://{{ $json.domain }}",
        "options": {
          "response": { "response": { "responseFormat": "text" } },
          "redirect": { "redirect": { "followRedirects": false } }
        }
      },
      "name": "Check SSL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const domain = $('Loop Domains').first().json.domain;\nconst staticData = this.getWorkflowStaticData('global');\nstaticData.results ??= [];\n\n// n8n doesn't expose SSL cert info directly from httpRequest,\n// but if the request succeeded, the cert is valid.\n// For actual expiry checking, we'd need a Code node with TLS.\nconst success = !$json.error;\n\nstaticData.results.push({\n  domain,\n  valid: success,\n  error: $json.error || null\n});\n\nreturn [{ json: { domain, valid: success } }];"
      },
      "name": "Record Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "jsCode": "const staticData = this.getWorkflowStaticData('global');\nconst results = staticData.results || [];\nstaticData.results = []; // reset\n\nconst failed = results.filter(r => !r.valid);\nconst passed = results.filter(r => r.valid);\n\nconst summary = [\n  `✅ **${passed.length}** domains OK`,\n  failed.length > 0 ? `❌ **${failed.length}** domains FAILED:\\n${failed.map(f => `  • ${f.domain}: ${f.error || 'connection failed'}`).join('\\n')}` : ''\n].filter(Boolean).join('\\n\\n');\n\nreturn [{ json: {\n  summary,\n  hasFailed: failed.length > 0,\n  failedCount: failed.length,\n  passedCount: passed.length,\n  timestamp: new Date().toISOString()\n}}];"
      },
      "name": "Summarize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.DISCORD_WEBHOOK_ALERTS }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"embeds\": [{\n    \"title\": \"🔒 Weekly SSL Check\",\n    \"description\": \"{{ $json.summary }}\",\n    \"color\": {{ $json.hasFailed ? 16711680 : 65280 }},\n    \"timestamp\": \"{{ $json.timestamp }}\",\n    \"footer\": { \"text\": \"24HG SSL Monitor\" }\n  }]\n}",
        "options": {}
      },
      "name": "Discord Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 200]
    }
  ],
  "connections": {
    "Weekly Monday 08:00": { "main": [[{ "node": "Domain List", "type": "main", "index": 0 }]] },
    "Domain List": { "main": [[{ "node": "Loop Domains", "type": "main", "index": 0 }]] },
    "Loop Domains": { "main": [
      [{ "node": "Check SSL", "type": "main", "index": 0 }],
      [{ "node": "Summarize", "type": "main", "index": 0 }]
    ]},
    "Check SSL": { "main": [[{ "node": "Record Result", "type": "main", "index": 0 }]] },
    "Record Result": { "main": [[{ "node": "Loop Domains", "type": "main", "index": 0 }]] },
    "Summarize": { "main": [[{ "node": "Discord Report", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "Infrastructure" }]
}
