n8n-workflows/12-coolify-deployment-notify.json
{
  "name": "🚀 Deployment Notifications → Discord",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deployment",
        "options": {}
      },
      "name": "Deployment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "deployment-24hg"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\n\nconst service = body.service || body.name || body.project || 'Unknown Service';\nconst status = body.status || body.state || 'deployed';\nconst version = body.version || body.tag || body.commit || '';\nconst environment = body.environment || body.env || 'production';\nconst actor = body.actor || body.user || body.triggered_by || 'System';\nconst url = body.url || body.domain || '';\n\nconst isSuccess = ['deployed', 'success', 'running', 'healthy'].includes(status.toLowerCase());\nconst isFailed = ['failed', 'error', 'crashed', 'unhealthy'].includes(status.toLowerCase());\n\nlet color = 8421504; // grey for in-progress\nif (isSuccess) color = 65280; // green\nif (isFailed) color = 16711680; // red\n\nlet emoji = '🔄';\nif (isSuccess) emoji = '✅';\nif (isFailed) emoji = '❌';\n\nreturn [{ json: {\n  service, status, version, environment, actor, url,\n  emoji, color,\n  timestamp: new Date().toISOString()\n}}];"
      },
      "name": "Parse Deployment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.DISCORD_WEBHOOK_DAILY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"embeds\": [{\n    \"title\": \"{{ $json.emoji }} Deployment: {{ $json.service }}\",\n    \"color\": {{ $json.color }},\n    \"fields\": [\n      { \"name\": \"Status\", \"value\": \"{{ $json.status }}\", \"inline\": true },\n      { \"name\": \"Environment\", \"value\": \"{{ $json.environment }}\", \"inline\": true },\n      { \"name\": \"Triggered By\", \"value\": \"{{ $json.actor }}\", \"inline\": true },\n      { \"name\": \"Version\", \"value\": \"{{ $json.version || 'latest' }}\", \"inline\": true },\n      { \"name\": \"URL\", \"value\": \"{{ $json.url || 'N/A' }}\", \"inline\": true }\n    ],\n    \"timestamp\": \"{{ $json.timestamp }}\",\n    \"footer\": { \"text\": \"24HG Deployments\" }\n  }]\n}",
        "options": {}
      },
      "name": "Discord Deploy Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    }
  ],
  "connections": {
    "Deployment Webhook": { "main": [[{ "node": "Parse Deployment", "type": "main", "index": 0 }]] },
    "Parse Deployment": { "main": [[{ "node": "Discord Deploy Alert", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "Infrastructure" }]
}
